apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: ${{ values.appName }}
  namespace: argocd
spec:
  description: "Project for ${{ values.appName }} application"
  sourceRepos:
    - git@github.com:sanity-io/argocd-apps
  destinations:
    - namespace: ${{ values.appName }}
      server: '*'
  clusterResourceWhitelist:
    - group: ''
      kind: Namespace
  namespaceResourceWhitelist:
    - group: ''
      kind: '*'
    - group: 'apps'
      kind: '*'
    - group: 'argoproj.io'
      kind: '*'
    - group: 'networking.k8s.io'
      kind: '*'
    - group: 'policy'
      kind: '*'
    - group: 'monitoring.coreos.com'
      kind: '*'
